[
  {pushmail, [
    {backend, pushmail_backend_gen_smtp},
    {pushmail_backend_gen_smtp, [
      {ssl, true},
      {tls, if_available}, % always, never, if_available
      {auth, always},
      {hostname, "127.0.0.1"},
      {retries, 1}, % how many retries per smtp host on temporary failure
      {relay, "smtp.server.com"},
      {username, "user@server.com"},
      {password, "mypassword"}
    ]}
  ]}
].
